<p>country works!</p>

<div class="container">
    <div class="card">
        <h4 class="card-title">Countries</h4>
        <table class="table table-stripped">
            <tbody>
                <tr *ngFor="let country of countries">
                    <td>{{country.id}}</td>
                    <td>{{country.name}}</td>
                     <td>{{country.capital}}</td>

                </tr>
            </tbody>
        </table>
        <hr>
        <ul class="nav nav-pills">
            <li class="nav-item" *ngFor="let p of pages; let i=index">
                <a class="nav-link" href="" (click)="setPage(i,$event)"
                [ngClass]="{'active':i==page}">{{i}}</a>
            </li>
        </ul>
    </div>
</div>
